.Table {
   width: 100%;
   margin: 
}

.Table thead tr {
   background-color: var(--color-primary-700);
   color: var(--color-primary-100);
}

.Table tbody tr {
   background-color: var(--color-primary-100);
}

.Table thead tr th {
   font-size: 0.8rem;
}

.Table tbody tr td {
   font-size: 0.95rem;
}

.Table thead tr th,
.Table tbody tr td {
   padding: calc(var(--spacing) * 2);
   text-align: left;
}
