.Table {
   width: 100%;
   min-width: var(--breakpoint-sm); /* Ensures table doesn't get too cramped on mobile */
}

@media (min-width: var(--breakpoint-sm)) {
   .Table {
      min-width: auto;
   }
}

.Table thead tr {
   background-color: var(--color-primary-800);
   color: var(--color-primary-100);
}

.Table tbody tr {
   background-color: var(--color-primary-100);
}

.Table tbody tr.clickable {
   cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
   transition: all 200ms;
}

.Table tbody tr.clickable:hover {
   background-color: var(--color-primary-300);
}

.Table thead tr th {
   font-size: 0.8rem;
}

.Table tbody tr td {
   font-size: 0.95rem;
}

.Table thead tr th,
.Table tbody tr td {
   padding: calc(var(--spacing) * 3);
   text-align: left;
}

.fallback {
   font-size: 1.1rem;
   font-weight: 600;
   color: var(--color-primary-900);
}
